@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html {
    scroll-behavior: smooth;
}

#all {
    display: flex;
    flex-wrap: wrap;
}

* {
    font-family: 'Roboto', sans-serif;
}

div:hover {
    cursor: pointer;
}
