@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html {
    scroll-behavior: smooth;
}

#all {
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    font-family: 'Roboto', sans-serif;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    margin: 3rem;
    border: 3px solid red;
}

#all > div {
    /* display: grid; */
    /* align-items: center; */
    /* text-align: center;
    justify-content: space-around; */
    border: 3px solid yellow;
    text-align: center;
    /* padding: 20px 0; */
    /* overflow: auto;
    min-height: 6rem;
    min-width: 6rem; */
}

#all > div:hover {
    cursor: pointer;
}
