@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html {
    scroll-behavior: smooth;
}

#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    border: 3px solid red;
    margin: 3rem;
}

#all > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 20rem;
    border: 3px solid yellow;
    text-align: center;
}

#all > div > div:hover {
    cursor: pointer;
}

#all > div > div {
    border: 5px solid green;
}
