
.push-edit {
    transform: translate(-50%, -50%);
}

.edit-button{
    height: 1.5rem;
    min-width: 5rem;
    background: whitesmoke;
    border: none;
    outline: none;
    color: rgb(65, 64, 64);
    font-size: 0.5rem;
    border-radius: 3px;
    box-shadow: 0 5px 0px rgb(211, 211, 211);
    border-bottom: 2px solid rgb(199, 197, 197);
}

.edit-button:hover{
    /* background: darken(red,5%);
    box-shadow: 0 4px 1px darken(red,5%);
    border-bottom: 2px solid darken(red,8%); */
    transition: all 0.1s ease-in;
    cursor: pointer;
}
  
.edit-button:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
}