#press {
    height: 3.5rem;
    width: 8rem;
    background: whitesmoke;
    border: none;
    outline: none;
    color: rgb(65, 64, 64);
    font-size: 1rem;
    border-radius: 4.5px;
    box-shadow: 0 7.5px 0px rgb(211, 211, 211);
    border-bottom: 3px solid rgb(199, 197, 197);
}

#press:hover{
    transition: all 0.1s ease-in;
    cursor: pointer;
}
  
#press:active{
    transform:translateY(6px);
    border-bottom-width: 3px;
    box-shadow: none;
}