#underline {
  /* color: rgb(6, 53, 53); */
  color: rgba(255, 255, 255, 0.527);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}
  
#underline::before {
  position: absolute;
  top: 100%;
  transform: translate(0,-50%);
  content: "";
  display: block;
  height: 0.5rem;
  width: 0;
  background-color: rgba(206, 156, 103, 0.897);
  /* opacity: .5; */
  transition: all .2s cubic-bezier(1, 0, 0, 1);
  }
  
#underline:hover::before{
  width: 100%;
}