#underline {
    color: rgb(6, 53, 53);
    position: relative;
    cursor: pointer;
}
  
#underline::before {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    content: "";
    display: block;
    height: 0.5rem;
    width: 0;
    background-color: rgb(55, 161, 147);
    opacity: .5;
    transition: all .2s cubic-bezier(1, 0, 0, 1);
  }
  
#underline:hover::before{
      width: 100%;
}